html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
}
body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  background-color: lightsteelblue;
}
.lastResult {
  color: white;
  padding: 3px;
}
